[submodule "pytorch-hessian-eigenthings"]
	path = pytorch-hessian-eigenthings
	url = https://github.com/noahgolmant/pytorch-hessian-eigenthings.git
[submodule "curvature"]
	path = curvature
	url = https://github.com/DLR-RM/curvature.git
[submodule "third_party/autograd-hacks"]
	path = third_party/autograd-hacks
	url = git@github.com:agiachris/autograd-hacks.git
